@charset "UTF-8";
:root {
  font-size: 62.5%; /*1rem=10px*/
}

/* нормалізація стилів */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover {
  color: #12161f;
}
@media (max-width: 992px) {
  a:hover {
    color: #EB1B23;
  }
}

ul {
  list-style: none;
}

body {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
}

@media (max-width: 768px) {
  :root {
    font-size: 50%; /*1rem=8px */
  }
}
.btn {
  padding: 0 2rem;
  padding: 1.5rem 3rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid #EB1B23;
  background-color: #EB1B23;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 2rem;
}
.btn:hover {
  background-color: #930d12;
  border-color: #930d12;
}
.btn--secondary {
  color: white;
  background: black;
}
.btn--secondary:hover {
  background-color: #EB1B23;
  color: white;
  border: 1px solid transparent;
}

.section {
  padding-block: 7rem;
}

.header {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10;
  padding-block: 2rem;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5rem;
}
.header__logo-img {
  max-height: 6rem;
}
.header__logo-text {
  font-size: 4.5rem;
  font-weight: 600;
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}
.header__menu-list {
  margin: 0 1rem;
}
.header__link {
  color: black;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__link:hover {
  color: #EB1B23;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.header__button {
  padding: 0 2rem;
  padding: 1.5rem 3rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid #EB1B23;
  background-color: #EB1B23;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 2rem;
}
.header__button:hover {
  background-color: #930d12;
  border-color: #930d12;
}
.header__icon {
  margin-right: 2rem;
  font-size: 2rem;
}
.header__burger {
  display: none;
}
@media (max-width: 992px) {
  .header__burger {
    display: block;
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 2rem;
  }
  .header__menu {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    top: 100%;
    gap: 2rem;
    padding-block: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #EB1B23;
    width: 100%;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .header__menu.nav--opened {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .header__link {
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__link:hover {
    color: #12161f;
  }
}

.about {
  position: relative;
  z-index: 1;
  height: 80vh;
  width: 100%;
  background-color: #1a1e29;
}
.about__container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 3;
}
.about__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#1a1e29), to(rgba(26, 30, 41, 0)));
  background: linear-gradient(to right, #1a1e29, rgba(26, 30, 41, 0));
  z-index: 3;
}
.about__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 4;
}
.about__social-link {
  color: #ffffff;
}
.about__social-icon {
  font-size: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 4;
}
.about__social-icon:hover {
  color: #EB1B23;
}
.about__content {
  width: 70%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 5rem;
  height: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10rem;
}
.about__title {
  font-size: 6rem;
  color: #ffffff;
  font-weight: 800;
  margin-bottom: 3rem;
  z-index: 4;
  width: 100%;
}
.about__buttons {
  color: #ffffff;
  z-index: 4;
}
.about__content-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 1rem;
  font-size: 1.5rem;
  color: #EB1B23;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}
.about__nav-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  gap: 1rem;
  margin-right: 2rem;
  z-index: 5;
}
.about__nav-arrow {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}
.about__nav-arrow:hover {
  color: white;
  border: 1px solid #EB1B23;
  background-color: #EB1B23;
}
.about__nav-arrow--left {
  border-radius: 50%;
  font-size: 1.5rem;
  border: none;
  background-color: #ffffff;
  color: #12161f;
  width: 4rem;
  height: 4rem;
}
.about__nav-arrow--right {
  border-radius: 50%;
  font-size: 1.5rem;
  border: none;
  background-color: #12161f;
  color: #ffffff;
  width: 4rem;
  height: 4rem;
}
.about .splide {
  height: 80vh;
}
.about .splide__img {
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.about #splide1 .splide__pagination__page.is-active {
  background-color: white;
}

.feature:hover__item {
  background-color: #12161f;
}
.feature:hover__title {
  color: white;
}
.feature:hover__icon-plus {
  background-color: #EB1B23;
}
.feature:hover__icon {
  color: white;
}
.feature__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
}
.feature__item {
  background-color: #f5f4f9;
  padding: 3rem 4rem;
  width: 35rem;
  height: 22rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.feature__item:hover {
  background-color: #12161f;
}
.feature__item:hover .feature__title {
  color: white;
}
.feature__item:hover .feature__icon-plus {
  background-color: #EB1B23;
}
.feature__item:hover .feature__icon {
  color: white;
}
.feature__subtitle {
  color: #808080;
  margin-bottom: 1rem;
}
.feature__title {
  margin-bottom: 4rem;
  color: #12161f;
  font-size: 2.5rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.feature__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feature__icon-plus {
  color: #12161f;
  font-size: 1.5rem;
  background-color: white;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.feature__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  color: #EB1B23;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media (max-width: 768px) {
  .feature__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.goals__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
  position: relative;
}
.goals__item {
  width: calc((100% - 4rem) / 2);
}
.goals__images {
  position: relative;
}
.goals__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 70rem;
  z-index: 1;
}
.goals__overlay-image {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(40%, 4%);
          transform: translate(40%, 4%);
  width: 70%;
  max-height: 25%;
  z-index: 2;
}
.goals__content-icon {
  position: absolute;
  top: 64%;
  left: 112%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3rem;
  color: white;
  z-index: 3;
  background-color: white;
  -webkit-box-shadow: 0px 1px 16px 15px rgb(255, 255, 255);
          box-shadow: 0px 1px 16px 15px rgb(255, 255, 255);
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}
.goals__title {
  font-size: 4.3rem;
  margin-bottom: 4rem;
}
.goals__subtitle {
  color: #EB1B23;
  font-weight: 600;
  margin-bottom: 2rem;
}
.goals__text {
  color: #808080;
  text-align: left;
  margin-bottom: 3rem;
}
.goals__list {
  margin-bottom: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.goals__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  background-color: #f5f4f9;
  padding: 0.5rem 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 25rem;
}
.goals__list-item:hover {
  background-color: white;
}
.goals__list-icon {
  margin-right: 1rem;
  color: #ffffff;
  background-color: #EB1B23;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
}
.goals__signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.goals__signature-img {
  width: 5rem;
  height: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #EB1B23;
  border-radius: 50%;
  margin-right: 2rem;
}
.goals__signature-signature {
  width: auto;
  height: 6rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.goals__signature-btn {
  margin-left: auto;
}
@media (max-width: 992px) {
  .goals {
    padding-inline: 5rem;
  }
  .goals__overlay-image {
    display: none;
  }
  .goals__content-icon {
    display: none;
  }
  .goals__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .goals__item {
    width: 100%;
    text-align: center;
  }
  .goals__list {
    margin-bottom: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .goals__image {
    max-height: 50rem;
  }
}

.service {
  background-color: #f5f4f9;
}
.service__sub {
  color: #EB1B23;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}
.service__title {
  font-size: 4.3rem;
  margin-bottom: 4rem;
  text-align: center;
}
.service__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4rem;
}
.service__item {
  width: calc((100% - 8rem) / 3);
  height: auto;
  background-color: white;
  padding: 3rem;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.service__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 33, 43, 0);
  z-index: 1;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.service__item:hover {
  z-index: 10;
  background-image: url("../slider/img/01.jpg");
}
.service__item:hover::before {
  background-color: rgba(15, 33, 43, 0.7);
}
.service__item:hover .service__item-title,
.service__item:hover .service__item-text {
  position: relative;
  z-index: 2;
  color: white;
}
.service__item:hover .service__icon {
  position: relative;
  z-index: 2;
}
.service__item:hover .service__btn {
  position: relative;
  z-index: 2;
  padding: 1rem 2rem;
  border: 1px solid #EB1B23;
  background-color: #EB1B23;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1rem;
}
.service__icon {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #EB1B23;
}
.service__item-title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
.service__item-text {
  margin-bottom: 2rem;
  color: #808080;
}
.service__btn {
  padding: 1rem 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #808080;
  background-color: white;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .service__item {
    width: 100%;
    padding-inline: 7rem;
  }
}

.slider {
  background-color: #0f212b;
  position: relative;
}
.slider__sub {
  color: #EB1B23;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}
.slider__title {
  font-size: 3rem;
  margin-bottom: 4rem;
  text-align: center;
  color: white;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  position: relative;
}
.slider__item {
  width: calc((100% - 4rem) / 3);
  position: relative;
}
.slider__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__info {
  position: absolute;
  bottom: 10%;
  left: 0%;
  right: 0;
  padding: 1rem;
  color: white;
  text-align: center;
}
.slider__info-text {
  font-size: 4rem;
  font-weight: 600;
}
.slider .splide {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.slider .splide__slide {
  position: relative;
  width: 100%;
  height: 100vh;
}
.slider .splide__slide img {
  width: 95%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.slider .splide__arrows {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 2rem;
}
.slider .splide__nav-arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 1rem;
  font-size: 1.5rem;
  color: black;
  width: 4rem;
  height: 4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.slider .splide__nav-arrow:hover {
  background-color: #EB1B23;
  color: white;
  border: 1px solid #EB1B23;
}
.splide__pagination__page.is-active {
  background-color: white;
}

.pricing__sub {
  color: #EB1B23;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}
.pricing__title {
  font-size: 3rem;
  margin-bottom: 4rem;
  text-align: center;
  color: black;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.pricing__plans {
  gap: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pricing__plan {
  width: calc((100% - 4rem) / 3);
  background-color: #f5f4f9;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pricing__plan:hover {
  border: 1px solid #EB1B23;
}
.pricing__plan:hover .pricing__plan-title {
  color: #EB1B23;
}
.pricing__plan:hover .pricing__plan-btn {
  color: white;
  background-color: #EB1B23;
  border-color: #EB1B23;
}
.pricing__plan-white {
  background-color: white;
  padding: 5rem;
  margin-bottom: 2rem;
}
.pricing__plan-title {
  font-size: 3rem;
}
.pricing__plan-span {
  font-size: 1.5rem;
}
.pricing__plan-text {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}
.pricing__plan-icon {
  font-size: 6rem;
  color: blue;
}
.pricing__plan-button {
  padding: 0.4rem 2rem;
  background-color: white;
  border: 1px solid grey;
  margin-top: 5rem;
  margin-left: 5rem;
}
.pricing__plan-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pricing__plan-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pricing__plan-item {
  margin-bottom: 1.5rem;
}
.pricing__plan-check {
  margin-right: 0.5rem;
  color: #EB1B23;
  font-size: 2rem;
}
.pricing__plan-btn {
  padding: 0 2rem;
  padding: 1.5rem 3rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid black;
  background-color: black;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
@media (max-width: 992px) {
  .pricing {
    padding-inline: 10rem;
  }
  .pricing .pricing__plans {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3rem;
  }
  .pricing__plan {
    width: 90%;
  }
  .pricing__plan-white {
    padding: 5rem 10rem;
  }
}

.contact {
  height: 80vh;
  width: 100%;
  background-color: #f1f1f3;
  position: relative;
}
.contact .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
.contact__left {
  width: 50%;
  position: relative;
}
.contact__img-left {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact__items {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  text-align: left;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}
.contact__item {
  padding: 2rem;
  background-color: black;
}
.contact__item:nth-child(2) {
  padding: 2rem;
  background-color: #EB1B23;
}
.contact__item-title {
  font-size: 2rem;
}
.contact__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}
.contact__img-right {
  max-width: 80%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.contact__form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(5%, -40%);
          transform: translate(5%, -40%);
  background-color: white;
  color: white;
  padding: 1.5rem;
  z-index: 10;
  text-align: center;
  width: 35%;
  max-height: 80%;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.contact__sub {
  color: #EB1B23;
}
.contact__title {
  color: black;
  margin-bottom: 2rem;
}
.contact__form-input {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  border: none;
  background-color: #f1f1f3;
}
.contact__form-area {
  width: 100%;
  height: 100%;
  height: 10rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  background-color: #f1f1f3;
}

@media (max-width: 992px) {
  .contact__left {
    display: none;
  }
  .contact__form {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(5%, -40%);
    transform: translate(5%, -40%);
    background-color: white;
    color: white;
    padding: 1.5rem;
    z-index: 10;
    text-align: center;
    width: 40%;
    max-height: 100%;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  .contact__img-right {
    max-width: 100%;
    height: 100%;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .contact__img-right {
    display: none;
  }
}
.icons {
  padding-inline: 7rem;
}
.icons__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.icons__item-icon {
  font-size: 7rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.icons__item-icon:hover {
  color: #EB1B23;
}

.design__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}
.design__left-side {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  gap: 2rem;
}
.design__img-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 15rem;
  color: white;
}
.design__img {
  width: 45%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.design__right-side {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 3rem;
}
.design__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.design__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.design__item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.design__icon {
  font-size: 4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 3rem;
}
.design__icon:hover {
  color: #EB1B23;
}
.design__title {
  font-size: 2rem;
  color: #12151f;
  margin-top: 2rem;
}
.design__text {
  border-bottom: 1px solid #a3adb4;
  padding: 2rem 0;
}

@media (max-width: 992px) {
  .design__section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .design__right-side {
    width: 100%;
  }
  .design__left-side {
    width: 100%;
  }
}
.project {
  height: 60vh;
}

.project__img-wrapper {
  position: relative;
}

.project__img {
  height: 60vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
}

.project__title {
  font-size: 5rem;
}

.project__text {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.project__btn {
  padding: 0 2rem;
  padding: 1.5rem 3rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid black;
  background-color: black;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 2rem;
  cursor: pointer;
}
.project__btn:hover {
  border: 2px solid #EB1B23;
  background-color: #EB1B23;
}

.blog__sub-title {
  color: #EB1B23;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}
.blog__title {
  font-size: 3rem;
  margin-bottom: 4rem;
  text-align: center;
  color: black;
}
.blog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}
.blog__item {
  width: calc((100% - 6rem) / 3);
}
.blog__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.blog__sub {
  color: gray;
  font-size: 1.5rem;
}
.blog__date {
  color: gray;
  font-size: 1.5rem;
}
.blog__text {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.blog__btn {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: gray;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.blog__btn:hover {
  color: #EB1B23;
}
@media (max-width: 992px) {
  .blog {
    padding-inline: 6rem;
  }
  .blog__item {
    width: 100%;
  }
  .blog__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer {
  margin-top: 10rem;
  background-color: #12161f;
}
.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.footer__item {
  width: calc((100% - 6rem) / 3);
  margin-bottom: 10rem;
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}
.footer__logo-img {
  max-height: 3rem;
  margin-right: 0.5rem;
}
.footer__logo-text {
  font-size: 3rem;
  font-weight: 600;
  color: white;
  margin-bottom: 1rem;
}
.footer__logo-adress {
  color: white;
  margin-bottom: 1rem;
}
.footer__phone {
  color: #EB1B23;
  margin-bottom: 1rem;
}
.footer__social-icon {
  color: white;
  margin-right: 1rem;
}
.footer__social-icon:hover {
  border-bottom: 1px solid white;
}
.footer__item-title {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  margin-bottom: 3rem;
}
.footer__list-item {
  margin-bottom: 1rem;
}
.footer__item-link {
  color: white;
}
.footer__item-link:hover {
  color: #EB1B23;
}
.footer__item-text {
  color: white;
  margin-bottom: 1.5rem;
}
.footer__form-wrapper {
  position: relative;
  width: 100%;
  max-width: 25rem;
}
.footer__form-input {
  width: 100%;
  padding: 1rem 3rem;
  border-radius: 2rem;
  border: 1px solid white;
  font-size: 1.5rem;
}
.footer__form-btn {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #EB1B23;
  border: none;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4rem;
}
.footer__form-item {
  font-size: 1rem;
}
.footer__bottom {
  border-top: 1px solid #a0a5ab;
}
.footer__bottom-text {
  margin-top: 2rem;
  text-align: center;
  color: white;
}
.footer__bottom-span {
  color: #EB1B23;
}
@media (max-width: 992px) {
  .footer__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__item {
    width: calc((100% - 4rem) / 2);
  }
}
@media (max-width: 768px) {
  .footer__item {
    width: 100%;
    text-align: center;
  }
  .footer__form-wrapper {
    margin: 0 auto;
  }
  .footer__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */