// buttons
.btn{
    padding: 0 2rem;
    padding: 1.5rem 3rem;
    transition: all .3s;
    border: 2px solid $accent2;
    background-color: $accent2;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
    margin-right: 2rem;

    &:hover {
        background-color: darken($color: $accent2, $amount: 20%);
        border-color: darken($color: $accent2, $amount: 20%);
    }

    &--secondary{
        color: white;
        background: black;
    
        &:hover {
            background-color: $accent2;
        color: white;
        border: 1px solid transparent;
        }
    }

}
// section
.section {
    padding-block: 7rem;
}
