.goals {

&__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    position: relative; 
}
&__item {
    width: calc((100% - 4rem)/2);
}

&__images {
    position: relative; 
  }
&__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 70rem;
    z-index: 1;

}
&__overlay-image {
    position: absolute; 
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(40%, 4%);
    width: 70%;
    max-height: 25%;
    z-index: 2; 
  }

  &__content-icon {
    position: absolute; 
    top: 64%;
    left: 112%;
    transform: translate(-50%, -50%); 
    font-size: 3rem; 
    color: white; 
    z-index: 3; 
    background-color: white;
    box-shadow: 0px 1px 16px 15px rgba(255, 255, 255, 1);
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

&__title {
    font-size: 4.3rem;
    margin-bottom: 4rem;
}
&__subtitle {
    color: $accent2;
    font-weight: 600;
    margin-bottom: 2rem;

}
&__text {
    color: #808080;
    text-align: left;
    margin-bottom: 3rem;
}
&__list {
    margin-bottom: 7rem;  
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
   
}
&__list-item {
    display: flex; 
    align-items: center;
    margin-bottom: 1rem;
    background-color: #f5f4f9;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: all .3s;
    width: 25rem;
    &:hover {
        background-color: white;
       
    }

}

&__list-icon {
    margin-right: 1rem;
    color: $accent3;
    background-color: $accent2;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 1rem;
}

&__signature {
    display: flex;
    align-items: center;
    gap: 1rem;
}
&__signature-img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border: 1px solid $accent2;
    border-radius: 50%;
    margin-right: 2rem;

}
&__signature-signature {
    width: auto;
    height: 6rem;
    object-fit: cover;
    

}
&__signature-btn {
    margin-left: auto; 
   
}

@media (max-width: 992px) {	
    padding-inline: 5rem;
	&__overlay-image {
       display: none;
      }
      &__content-icon {
        display: none;
    }
    &__items {
       flex-wrap: wrap;
    }
    &__item {
       width: 100%;
       text-align: center;
    }
    &__list {
        margin-bottom: 4rem;  
        display: flex;
        flex-direction: column; 
        align-items: center;
       
    }
    &__image {
        max-height: 50rem;
       
    }
}
}